// File untuk custom styles Anda
// Gunakan underscore (_) di awal nama file untuk partial SCSS
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFC;
    color: black;
    text-align: center;
   
}

