.wave {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: -1;
        bottom: 0;
        left: 0;
    }

    .logo-oryza {
        width: 250px;
        height: auto;
        margin-bottom: 0px;
    }

    .login-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 10; 
    }

    .login-box {
        width: 300px;
        padding: 30px;
        position: absolute;
        top: 50%;
        right: 22%;
        transform: translateY(-50%);
        background: #fff;
        text-align: center;
        border-radius: 10px;
        z-index: 20; 
        
    }

    .btn-login {
        background: #F8A825;
        border: none;
        outline: none;
        height: 40px;
        width: 100%;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        cursor: pointer;
    }

    .form-control {
        border: none;
        border-bottom: 2px solid #F8A825;
        border-radius: 0;
        padding-left: 35px;
        background: transparent;
    }

    .form-control:focus {
        box-shadow: none;
        border-bottom: 2px solid #F8A825;
        background: transparent;
    }

    .mb-3 {
        position: relative;
    }

    .mb-3 i {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
    }

    .image-illustration {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
        width: 400px;
        z-index: 1;
    }

    .img-illustration {
        width: 100%;
        height: auto;
    }


    .btn-login:hover {
        background: #FFD43B;
        transition: 0.3s;
    }


    @media screen and (max-width: 1024px) {
        .image-illustration {
            width: 300px;
            left: 10%;
        }

        .login-box {
            right: 15%;
        }
    }

    @media screen and (max-width: 768px) {
        .login-box {
            width: 80%;
            right: 10%;
        }

        .image-illustration {
            display: none;
        }
    }

    @media screen and (max-width: 480px) {
        .login-box {
            width: 90%;
            right: 5%;
            padding: 20px;
        }
    }

    .logo-oryza {
        width: 200px;
    }
    
    .alert-danger {
        background-color: #f8d7da;
        border: none ;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
    }